.card {
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  height: 200px;
  display: flex;
  box-shadow: 0 0 3px gray;
}
.hotel-image {
  border-radius: 8px;
  width: 200px;
  height: 150px;
  align-self: center !important;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.heading {
  font-size: 28px !important;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 900 !important;
}
.heading:hover {
  color: green;
}
.location {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}
.price {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}
