.card {
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  height: 200px;
  display: flex;
  box-shadow: 0 0 3px gray;
}
.hotel-image {
  border-radius: 8px;
  width: 200px;
  height: 150px;
}
.img-link {
  align-self: center !important;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
}
.heading {
  font-family: 'Lato', sans-serif !important;
  font-size: 28px !important;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 900 !important;
}
.heading:hover {
  color: #29b550;
}
.location {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}
.price {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 25px !important;
  }
  .location {
    font-size: 12px;
  }
  .price {
    font-size: 15px;
  }
}
