.hotelDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.img-section {
  display: flex;
  padding: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.img {
  width: 550px;
  height: 350px;
  border-radius: 8px;
}
.info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
.policies {
  font-size: 18px;
  margin-top: 5px;
}
.sub-heading {
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
}
.icon {
  font-size: 16px;
}
.essentials {
  display: flex;
}
.items {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px #29b550;
  border-radius: 8px;
  width: 90px;
  color: gray;
}
.pricing-section {
  display: flex;
}
.price-card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px #29b550;
  border-radius: 8px;
  width: 120px;
}
.room-type {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.room-price {
  font-size: 15px;
  font-weight: 700;
  color: gray;
}

.hotel-title {
  font-size: 32px;
  font-weight: 900;
}

.hotel-city {
  font-size: 14px;
  color: gray;
}
@media only screen and (max-width: 767px) {
  .hotelDetail {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
  }
  .img-section {
    margin-top: 150px;
    width: 100%;
  }
  .img {
    width: 300px;
    height: 200px;
  }
  .info-section {
    width: 100%;
  }
  .essentials {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  .pricing-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
